@import "tailwindcss";

.gradient{
    background: linear-gradient(to right, rgba(202, 114, 13, 0.582), rgb(146, 16, 16));
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.spin{
    animation: spin 20s linear infinite;
}